<!DOCTYPE html>
<div id=vnc></div>
<script type="module">
  import RFB from "./novnc/novnc/rfb.js";
  const protocol = window.location.protocol.indexOf('https') !== -1 ? 'wss' : 'ws';
  const el = document.getElementById('vnc');
  const wsurl = `${protocol}://${window.location.hostname}:<%= port %>`;
  const rfb = new RFB(el, wsurl, {credentials: {password: "<%= password %>"}});
  rfb.addEventListener('connect', function() {
  });
</script>
